/* set grid gutter here. */
$gridGutter: 5px;
$gridPadding: 10px;
$secPadding: 80px 30px;
$vertPadding: 80px 0px 80px 0px;
$wrapPadding: 140px 20px;
$skinnyPadding: 40px 30px;

/* set common inner width here */
$largeWidth: 1700px;
$maxWidth: 1350px;
$innerWidth: 750px;
$blogWidth: 950px;
$flexMin: 350px;

$main: #fab420;

$black: #231f20;
$blue: #00aee5;
$darkBlue: #077ea3;
$green: #88c440;
$darkGreen: #6da00b;
$yellow: #f1c916;
$darkYellow: #b19311;
$orange: #f9a61a;
$darkOrange: #d8860e;
$red: #e24c25;
$darkRed: #d13213;
$purple: #ba20c6;
$darkPurple: #950fa8;
$pink: #ea2f60;
$darkPink: #b51a4a;

$lightGrey: #dbdbdb;
$hovGrey: #efefef;
