a.navbar-item {
  &:hover {
    background-color: transparent;
    color: black;
  }
}

/****************
  Project Blocks
*****************/
.project-wrapper {
  .project-block {
    .pblock-flex {
      .block {
        height: 400px;
        width: 30%;
        margin: 1.5%;
      }
    }
  }
}

.slider-wrap {
  .hproj-wrap {
    .hproj-info {
      top: 10vh;
      left: 20vh;
      margin: 0;
    }
  }
}

.single-blog {
  .hproj-wrap {
    .hproj-info {
      top: 50px;
      left: 100px;
      margin: 0 0 -80px 0;
    }
  }
}
