body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: $black;
  &:hover {
    cursor: default;
  }
}
::-moz-selection {
  /* Code for Firefox */
  color: $black;
  background: $yellow;
}

::selection {
  color: $black;
  background: $yellow;
}

/****************
    Title Styles
*****************/

.home-wrap {
  overflow: hidden;
}
.title,
h1 {
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 0.5px;
  font-size: 1.5em;
  margin: 6px 0px;
  color: $black;
  font-weight: normal;
}
.subtitle,
h2 {
  font-family: "Black Han Sans", sans-serif;
  letter-spacing: 0.5px;
  font-size: 16px;
  margin: 6px 0px;
  color: $black;
}
h3 {
  letter-spacing: 10px;
  font-family: "Libre Barcode 39 Extended Text", cursive;
  font-weight: normal;
  font-size: 30px;
  margin: 0px;
}
.content {
  font-family: "Poppins", sans-serif;
}
h4 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
p {
  font-size: 0.8em;
  hyphens: none;
}
/****************
  Home Feature
*****************/

.slide-color {
  min-height: 550px;
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  z-index: -10;
}

.hproj-wrap {
  width: 100%;
  .hproj-info {
    width: 90%;
    margin: auto;
    padding: 30px;
    background-color: white;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2);
    height: fit-content;
    position: relative;
    .proj-desc {
      a {
        font-weight: bold;
        color: black;
      }
    }
    .skill {
      @include space-start();
      margin-bottom: 20px;
      p {
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 80%;
        color: black;
        font-weight: bold;
        padding: 2px 5px;
        width: fit-content;
        margin: 0px 5px 5px 0px;
      }
    }
    .info-bottom {
      @include space-between();
      align-items: flex-end;
      border-top: 5px solid black;
      padding-top: 30px;
      .tools {
        p {
          margin: 0px;
          letter-spacing: 2px;
          text-transform: uppercase;
          font-weight: bold;
          font-size: 80%;
        }
      }
    }
    .proj-butt {
      display: block;
      border: 2px solid black;
      border-radius: 50px;
      padding: 10px 20px;
      color: black;
      width: fit-content;
      @include transition(0.2s);
      &:hover {
        background-color: rgba(0, 0, 0, 0.1);
      }
    }
  }
}

.slider-wrap {
  .hproj-wrap {
    height: 100vh;
    overflow: scroll;
    padding-top: 80px;
    .hproj-info {
    }
  }
  .hproj-img {
    height: 60vh;
    margin-top: -10vh;
    left: 0;
    width: 100%;
  }
}

.single-blog {
  .hproj-wrap {
    padding: 80px 20px 50px 20px;
    .hproj-info {
      margin-bottom: -100px;
    }
  }
}

.slick-prev {
  left: 25px !important;
  z-index: 750;
  &:before {
    color: black !important;
  }
}
.slick-next {
  right: 40px !important;
  z-index: 750;
  &:before {
    color: black !important;
  }
}

/****************
  Project Body
*****************/
.project-content {
  @include wrapper();
  margin-bottom: 80px;
  background-color: white;
  .sec-image {
    width: 100%;
    height: auto;
  }
}

.line-head {
  margin: 30px 0px;
  padding: 10px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: bold;
  border-bottom: 5px solid #eee;
}
/****************
  Opener
*****************/
.opener {
  position: fixed;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: $black;
  z-index: 800;
  @include transition(1s);
  .center-text {
    margin: 45vh auto 0 auto;
    width: 500px;
    h1 {
      color: #11ffa4;
      text-align: center;
    }
    .go-away {
      color: white;
    }
  }
}
.hi {
  top: 0 !important;
  overflow: hidden;
}
.bye {
  overflow: auto !important;
  top: -100vh !important;
}

/****************
  Home Blocks
*****************/
.project-wrapper {
  @include wrapper();
  margin-bottom: 80px;
  .project-block {
    .pblock-flex {
      @include space-between();
      align-items: stretch;
      .block {
        height: 300px;
        width: 100%;
        position: relative;
        padding: 30px;
        overflow: hidden;
        box-shadow: 7px 7px 12px rgba(0, 0, 0, 0.2);
        margin: 15px 0px;
        .block-content {
          position: relative;
          z-index: 100;
          height: 100%;
          @include space-between();
          align-content: space-between;
          h1 {
            color: black;
            margin-bottom: 20px;
            @include transition(0.5s);
            width: 100%;
          }
          .proj-butt {
            width: fit-content;
            border: 2px solid black;
            border-radius: 50px;
            padding: 10px 20px;
            color: black;
            height: 50px;
            text-align: center;
            @include transition(0.2s);
            &:hover {
              background-color: black !important;
              border: 2px solid black !important;
            }
          }
        }
        .block-back {
          @include transition(0.5s);
          position: absolute;
          z-index: 1;
          top: 0;
          right: 0;
          filter: grayscale(100%);
          opacity: 0.5;
        }

        &:hover {
          .block-content {
            h1 {
              color: white !important;
              text-shadow: 0px 3px 6px rgba(0, 0, 0, 0.5);
            }
            .proj-butt {
              border: 2px solid white;
              color: white;
              background-color: rgba(0, 0, 0, 0.5);
              @include transition(0.2s);
            }
          }
          .block-back {
            filter: grayscale(0%);
            opacity: 1;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 500px) {
  /****************
    Project Blocks
  *****************/
  .project-wrapper {
    .project-block {
      .pblock-flex {
        @include space-start();
        align-items: stretch;
        .block {
          height: 300px;
          width: 45%;
          margin: 2.5%;
        }
      }
    }
  }
}
/****************
      Nav
*****************/

.simple-nav {
  position: fixed;
  top: 0px;
  right: 0px;
  z-index: 999;
  width: fit-content;
  background-color: white !important;
  border-bottom: 5px solid black;
  @include space-end();
  .n-dark {
    background-color: black;
    color: white;
    &:hover {
      background-color: black;
      @include transition(0.5s);
      color: #cbcbcb;
    }
  }
  .navbar-item {
    &:hover {
      @include transition(0.5s);
      color: #cbcbcb;
    }
  }
}

/****************
  Additional Projects
*****************/
.simple-wrap {
  @include wrapper();
  .simple-flex {
    @include space-center();
    .simple-post {
      width: 30%;
      margin: 1.5%;
      min-width: 250px;
      flex-wrap: nowrap;
      align-items: center;
      box-shadow: inset 0 0 0 0 #eee;
      padding: 10px 20px 5px 20px;
      &:hover {
        box-shadow: inset 0 -100vmax 0 0 #eee;
        @include transition(2s);
      }
      .simple-flex {
        @include space-between();

        .fas {
          color: black;
        }
      }
    }
  }
}
/****************
      Footer
*****************/
.foot-hi {
  bottom: 0;
}
.foot-bye {
  bottom: -100vh !important;
}
.open {
  &:after,
  &:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-weight: 900;
    font-family: "Font Awesome 5 Pro";
    content: "\f102";
    margin: 0px 10px;
  }
}

.close {
  &:after,
  &:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    content: "\f103";
    margin: 0px 10px;
    font-weight: 900;
  }
}

.foot-toggle {
  bottom: 0px;
  @include transition(0.8s);
  width: 100%;
  position: fixed;
  -webkit-transform: translateZ(0);
  height: 70px;
  background-color: black;
  text-align: center;
  z-index: 999;
  h2 {
    color: white;
    margin-top: 20px;
  }
}

.contact-foot {
  @include transition(0.8s);
  z-index: 900;
  position: fixed;
  -webkit-transform: translateZ(0);
  background-color: white;
  padding: 0px;
  bottom: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  border-top: 5px solid black;
  overflow: scroll;
  .foot-wrap {
    width: 100%;
    max-width: 1440px;
    margin: auto;
    padding: 90px 30px 0px 30px;
    height: 100vh;
    @include space-between();
    .foot-bio {
      width: 100%;
      order: 2;
      .fa-times {
        position: absolute;
        top: 60px;
        left: 50px;
        font-size: 1.5em;
      }
      .bio-links {
        a {
          h2 {
            i {
              margin-right: 10px;
            }
          }
        }
      }
    }
    .foot-headshot {
      width: 100%;
      z-index: -10;
      order: 3;
    }
    .foot-contact {
      width: 100%;
      order: 1;
      margin-bottom: -40px;
    }
  }
}
